/* CSS declarations go here */

@import url(https://fonts.googleapis.com/css?family=Exo+2:300,500,700);

body { 
	font-family: 'Exo 2', sans-serif;	/* ESCOLHER TIPO DE LETRA */
    color: white ;
}

p{
    font-size: 16px ;
    font-weight: 300 ;
}

h1
{
    font-weight: 700;
    font-size: 42px ;
}
h3
{
    font-weight: 500;
    font-size: 36px ;
}
h5
{
    font-weight: 300;
    font-size: 28px ;
}
@media (max-width: 480px)
{
    h1
    {
        font-weight: 700;
        font-size: 36px ;
    }
    h3
    {
        font-weight: 500;
        font-size: 28px ;
    }
    h5
    {
        font-weight: 300;
        font-size: 20px ;
    }
}

.bottom-align-text 
{
    position: absolute;
    bottom: 1em;
    right: 50%;
}

.spacer {
    margin-top: 1.2em; /* define margin as you see fit */
}
.spacer_xs {
    margin-top: 0.3em; /* define margin as you see fit */
}
.spacer_lg {
    margin-top: 5em; /* define margin as you see fit */
}

.colpadding
{
    padding-left: 2.5em ;
    padding-right: 2.5em ;
}
.colpadding_xs
{
    padding-left: 1em ;
    padding-right: 1em ;
}


/* NAVBAR */

#navbar_breaking.navbar-default .navbar-brand {
    color: rgba(255, 255, 90, 1);
    border: 0.5em solid #1c1c1c ;
}
#navbar_breaking.navbar-default {
    font-size: 1.2em;
    font-weight: 400 ;
    background-color: rgba(28, 28, 28, 1);
    border: 0 ;
}
#navbar_breaking.navbar-default .navbar-right {
    margin-right: 1em ;
}
#navbar_breaking.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 28, 28, 1);
 	border: 0.5em solid #1c1c1c ;  
 	border-width: 0.5em 0px 0.5em 0px;
}
#navbar_breaking.navbar-default .navbar-nav>li>a:hover,
#navbar_breaking.navbar-default .navbar-nav>li>a:focus {
    background-color: rgba(28, 28, 28, 1);
    border-bottom: 0.5em solid #ffff5a ;
}
#navbar_breaking.navbar-default .navbar-nav>.active>a,
#navbar_breaking.navbar-default .navbar-nav>.active>a:hover,
#navbar_breaking.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 90, 1);
    background-color: rgba(28, 28, 28, 1);
}
#navbar_breaking.navbar-default .navbar-toggle {
    border-color: #1c1c1c;
}
#navbar_breaking.navbar-default .navbar-toggle:hover,
#navbar_breaking.navbar-default .navbar-toggle:focus {
    background-color: #1c1c1c;
}
#navbar_breaking.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#navbar_breaking.navbar-default .navbar-toggle:hover .icon-bar,
#navbar_breaking.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

#logotopleft
{
	width: 18em ;
	height: auto ;
	padding-top: 0.75em ;
}

@media (max-width: 768px) {
  #logotopleft {
    width: auto;
    height: 2em;
    padding-top: 0.75em ;
  }
}

/* INDEX PAGE */

#splash
{
    background-color: #1c1c1c;
    width: 100% ;
    height: 100vh ;
    position: relative;
}

.greycontainer
{
    background-color: #1c1c1c;
    width: 100% ;
    height: auto ;
    position: relative;
}

.yellowcontainer
{
    background-color: #ffff5a;
    width: 100% ;
    height: auto ;
    position: relative;
    color: #1c1c1c ;
}

.whitecontainer
{
    background-color: #ffffff;
    width: 100% ;
    height: auto ;
}

#splashlogo
{
    width: auto ;
    height: 95% ;   
}
@media (max-width: 480px)
{
    #splashlogo
    {
        content:url("splashvertical.png");
        width: 100% ;
        height: auto ; 
        margin-top: 60%;  
    }    
}

.caticon
{
    width: 18em ;
    height: auto ;
}

@media (max-width: 480px)
{
    .caticon
    {
        width: 12em ;
        height: 12em ;   
    }
}

/* SCROLL BAR */

::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
 border-radius: 10px;
 background-color: #1c1c1c;
}

::-webkit-scrollbar
{
 width: 8px;
 background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb
{
 border-radius: 6px;
 background-color: #ffff5a;
}